{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><b>{{ restaurant.name }}</b></h1>
    <hr class="my-4">
    <p>{{ restaurant.description | safe }}</p>
    <hr class="my-4">
    <h3 class="rest-name">Address</h3>
    <p>{{ restaurant.address1 }}</p>
    <p>{{ restaurant.address2 }}</p>
    <p>{{ restaurant.city }}</p>
    <p>{{ restaurant.county }}</p>
    <hr class="my-4">
    <h3 class="rest-name">Contact</h3>
    <p>Phone : {{ restaurant.phone }}</p>
  </div>
</div>

{% endblock content %}